.item {
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 3px;
    text-align: left;
    box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
    font-size: 14px;
}

.Preference .item {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    display: inline-grid;
    width: 90px;
    height: 255px;
}

.Preference .item span {
    word-break: break-word;
    text-align: center;
    max-height: 63px;
    min-height: 45px;
    white-space: normal;
    text-transform: capitalize;
}

.Preferenceside2 .PreferenceList .item {
    padding: 10px !important;
}

.closebutton {
    right: -5px;
    top: -7px;
    border: none;
    width: 15px;
    height: 15px;
    position: absolute;
    background: #dc3545;
    border-radius: 50%;
    line-height: 0px;
    padding-left: 4px;
    padding-top: 0px;
    color: #fff;
    font-size: 13px;
}

.closebutton:focus {
    outline: none !important;
}

.item:hover {
    cursor: pointer;
    background: #f5f6f7;
}

.PreferenceList .rangeslider {
    display: none;
}

.PreferenceList .closebutton {
    display: none;
}

.PreferenceList .MuiChip-root.badgevalue {
    display: none;
}

.badgevalue {
    width: 20px;
    height: 20px !important;
    margin: 0 auto;
    border-radius: 4px !important;
    background-image: linear-gradient(-180deg, #2e0b35, #9c1233);
}

.badgevalue .MuiChip-label {
    min-height: unset !important;
    max-height: unset !important;
    color: #fff;
}