.MuiCardContent-root:last-child {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.MuiDataGrid-colCellTitleContainer {
  justify-content: center !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  text-align: center !important;
}

.MuiSlider-root {
  color: #ea001e !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #ea001e !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ea001e !important;
}

.MuiAccordionSummary-root {
  min-height: 40px !important;
}

.MuiPopover-paper {
  border: 2px solid #9c1233;
}

.button:focus {
  outline: none !important;
  border: 1px solid #ea001e;
}

.MuiListItemText-primary {
  font-size: 14px !important;
}

.MuiPopover-paper .MuiListItemText-primary {
  line-height: 1 !important;
}

.MuiInputLabel-outlined.MuiInputLabel-marginDense,
.MuiFormLabel-root.Mui-focused {
  font-size: 14px !important;
}

.makeStyles-remember-9 .MuiFormControlLabel-label {
  font-size: 14px;
}

.MuiDialog-paper {
  overflow-y: initial !important;
}

.MuiDialog-paper .MuiSvgIcon-fontSizeSmall {
  font-size: 13px;
}

/************************************
 HEADER SECTION CSS STARTS
*************************************/

.header-section {
  height: 68px;
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
}

.header-title {
  color: #fff !important;
  flex-grow: 1;
}

.header-right {
  float: right;
}

.contactUs-btn .MuiButton-label {
  color: #fff;
  margin-right: 20px;
}

.MuiButton-label .saveAnalysis-btn {
  background: #9c1233;
  color: #fff;
  font-size: 14px;
  border: 1px solid #9c1233;
  border-radius: 2px;
  height: 38px;
  margin-right: 10px;
  line-height: 22px;
  text-transform: capitalize;
  padding: 0 10px;
}

.MuiButton-label .signIn-btn {
  background: #fff;
  color: #000;
  font-size: 14px;
  border: 1px solid #9c1233;
  border-radius: 2px;
  width: 82px;
  height: 38px;
  margin-right: 10px;
  line-height: 22px;
  text-transform: capitalize;
}

.MuiChip-label {
  padding: 0 !important;
  font-size: 10px;
}

.MuiButton-label:focus,
.MuiButton-root:focus {
  outline: none !important;
}

#simple-modal-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #4f4f4f;
}

.modalfields {
  width: 100%;
  margin-bottom: 25px !important;
}

.signup .modalfields,
.finacialmodal .modalfields {
  width: 96% !important;
}

.modalfields1 {
  width: 100%;
  margin-bottom: 15px !important;
}

.modalfields .MuiOutlinedInput-input,
.modalfields1 .MuiOutlinedInput-input {
  padding: 8.5px 14px;
}

.modalfields.notation .MuiOutlinedInput-input {
  padding-left: 0;
}

.modalfields .MuiInputLabel-outlined,
.modalfields1 .MuiInputLabel-outlined {
  line-height: 0;
}

.textbtns {
  text-transform: "capitalize";
  background-image: linear-gradient(-90deg, #2e0b35, #9c1233);
  border-color: "#9c1233";
  max-width: "100%";
  width: "100%";
}

.cardmodal .MuiChip-label {
  font-size: 12px !important;
}

.cardmodal .MuiIconButton-label .MuiSvgIcon-root {
  width: 18px !important;
  height: 18px !important;
}

/************************************
 SIDE NAV SECTION CSS STARTS
*************************************/

.sidebar_section {
  background: #f2f2f2;
  padding: 15px;
  border-radius: 4px;
}

.sidebar_section .sidebar_header {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  margin: -35px -25px;
  padding: 20px;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.sidebar_header p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}

/******** Filter Button css starts **********/

.btn_filters .filterbtn {
  background: transparent;
  border-color: #2e0b35;
  max-width: 266px;
  min-width: 100%;
  text-align: left;
  color: #2e0b35;
  position: relative;
}

.btn_filters .filterbtn .badge {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 15px;
  height: 15px;
  padding: 0px;
}

.btn_filters .filterbtn:hover,
.btn_filters .filterbtn.active,
.btn_filters .filterbtn.active:hover {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  color: #fff;
  border-color: #9c1233;
}

.btn-label {
  position: relative;
  left: -14px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(173, 170, 170, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.hide {
  display: none;
}

.popover {
  background-color: #fff !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem !important;
  max-width: 700px;
}

.form-check {
  margin-bottom: 10px;
}

.form-check.selectheading {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding-bottom: 10px;
}

.form-check .form-check-input {
  width: 15px;
  height: 15px;
}

.moreoptions {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  height: 60px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  width: 266px;
  padding: 0px 30px;
  line-height: 62px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.form-control {
  font-size: 14px;
}

button.close {
  font-size: 15px !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
}

/* Preference css starts */

.Preference {
  text-align: center;
}

.Preference p {
  text-align: left;
  font-size: 15px;
}

.Preferenceside1 p,
.Preferenceside2 p {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}

.Preferenceside2 p {
  visibility: hidden;
}

.PreferenceList .item.grab {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233);
  color: #fff;
  text-transform: capitalize;
}

.Preference-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Preference-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Preference-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Preference-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rangeslider-vertical .rangeslider__labels {
  width: 0 !important;
}

.gridList {
  flex-wrap: nowrap;
  transform: translateZ(0);
}

/*Preference slim scroll bar */

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

.Preferenceside1 .item {
  margin: 10px 6px !important;
}

@media (min-width: 1280px) {
  .filtercontainer .MuiGrid-grid-lg-3 {
    flex-grow: 0;
    max-width: 23%;
    flex-basis: 23%;
  }
}

/* Car detail modal */

.carModal-car-specs span {
  max-width: 195px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Popover */

.popoverlisting ul {
  column-count: 4;
}
/* 
.MultiListPopOver h2{
  margin:10px 0 0 10px !important;
} */
.MultiListPopOver ul{
  column-count: 6;
  column-gap: 15px;
  width:900px !important;
}

.MultiListPopOver li{
  display: inline-block !important;
  width: 100%;
}

.MultiListPopOver li label::before{
  width: 20px !important;
  height: 16px;
} 

.MultiListPopOver li label:hover {
  color: #9c1233 !important;
}

.MultiListPopOver li input:checked + label::before {
  border-color: #9c1233;
  background-color: #9c1233;
}

.MultiListPopOver li + label::before {
  color: #9c1233 !important;
}
.MultiListPopOver li:first-child label::before{
  width: 16px !important;
}







/* Drag item css starts */

.item {
  background: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 3px;
  text-align: left;
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  font-size: 14px;
}

.Preference .item {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: inline-grid;
  width: 90px;
  height: 255px;
}

.Preference .item span {
  word-break: break-word;
  text-align: center;
  max-height: 63px;
  min-height: 45px;
  white-space: normal;
  text-transform: capitalize;
}

.Preferenceside2 .PreferenceList .item {
  padding: 10px !important;
}

.closebutton {
  right: -5px;
  top: -7px;
  border: none;
  width: 15px;
  height: 15px;
  position: absolute;
  background: #dc3545;
  border-radius: 50%;
  line-height: 0px;
  padding-left: 4px;
  padding-top: 0px;
  color: #fff;
  font-size: 13px;
}

.closebutton:focus {
  outline: none !important;
}

.item:hover {
  cursor: pointer;
  background: #f5f6f7;
}

.PreferenceList .rangeslider {
  display: none;
}

.PreferenceList .closebutton {
  display: none;
}

.PreferenceList .MuiChip-root.badgevalue {
  display: none;
}

.badgevalue {
  width: 20px;
  height: 20px !important;
  margin: 0 auto;
  border-radius: 4px !important;
  background-image: linear-gradient(-180deg, #2e0b35, #9c1233);
}

.badgevalue .MuiChip-label {
  min-height: unset !important;
  max-height: unset !important;
  color: #fff;
}

/* Drop items css starts */
.container1 {
  background: #dfe3e6;
  border-radius: 5px;
}

.Preferenceside1 .container1,
.Preferenceside2 .container1 {
  min-height: 280px;
  padding-top: 10px;
}

.scroll {
  width: 650px;
  height: 280px;
}

h3 {
  text-align: left;
  padding-left: 10px;
  margin: 10px 0;
}

/*.Preference .item.grab{
  width: 70px;
} */

.rangeslider-vertical .rangeslider__fill {
  background-image: linear-gradient(90deg, #2e0b35, #9c1233) !important;
}

/* Search result table row */

.collapsibletable {
  display: grid !important;
}

.resulttablerow {
  border-top: 1px solid rgba(224, 224, 224, 1) !important;
}

tr.resulttablerow:nth-child(1) {
  background:#63be7b;
}

tr.resulttablerow:nth-child(3) {
  background:#6ac07c;
}

tr.resulttablerow:nth-child(5) {
  background:#8ecb7e;
}
tr.resulttablerow:nth-child(7) {
  background:#9ace7f;
}

tr.resulttablerow:nth-child(9) {
  background:#f4e884;
}

tr.resulttablerow:nth-child(11) {
  background:#feda80;
}
tr.resulttablerow:nth-child(13) {
  background:#fdc97d;
}

tr.resulttablerow:nth-child(15) {
  background:#fdc87d;
}

tr.resulttablerow:nth-child(17) {
  background:#fbad78;
}
tr.resulttablerow:nth-child(19) {
  background:#f8696b;
}
.resultheaderrow, .resulttablerow{
  display: table !important;
  width: 100%;
  table-layout: fixed;	
}	

.custom-range-slider .rheostat-progress,.custom-range-slider .slider-tooltip,.custom-range-slider .rheostat-handle{
  background-color: #ea001e!important;
}

.custom-range-slider .slider-tooltip:after{
  border-color:#ea001e transparent transparent transparent !important;
}

.custom-range-slider .rheostat-horizontal .rheostat-handle{
  top:-5px !important;
}

.custom-range-slider .rheostat-handle{
  height: 12px !important;
  width: 12px !important;
  border: 0px !important;
}
.custom-range-slider input:focus{
  outline: none !important;
  border:2px solid #ea001e;
}
.custom-range-slider input{
  background-color: #FFF !important;
}


/* media query */
@media (max-width: 1200px){	
  .resulttablerow{	
    width: 1200px  !important;	
    overflow-x: scroll;	
  }	
}	
@media (max-width: 967px){	
  .MultiListPopOver li{
    display: block !important;
    width: 100%;
  }

  .MultiListPopOver ul{
    column-count: auto;
    column-gap: 15px;
    width:unset !important;
  }
}	